<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

</div>
    <div class="small-container">
        <% if (prods.length > 0) { %>
            <div class="row">
                <% for (let product of prods) { %>
                   
                    <div class="col-4">
                        <a href="/products/<%= product.id %>">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        </a>
                        <h4><%= product.title %></h4>
                        <div class="add-to-cart">
                            <span class="price"><%= product.price %></span>
                            <form action="/cart" method="post">
                                <button class="btn" type="submit">Add to Cart</button>
                                <input type="hidden" name="productId" value="<%= product.id %>">
                            </form>
                        </div>
                    </div>



                    <% } %>
            </div>
            <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
    </div>

<%- include('../includes/footer.ejs') %>